<h1 style="text-align: center;">Todo list</h1>

<div class="container">


  <div class="input-group mb-3" style="display: flex;flex-direction:row;">
    <input type="text" class="form-control" placeholder="Enter Todo" aria-label="Recipient's username" aria-describedby="basic-addon2" [(ngModel)]="newTodo">
    <div class="input-group-append" >
      <button (click)="saveTodo()">Add Todo</button>
    </div>
  </div>


  <table class="table">
   
    <tbody>
      <tr *ngFor="let todo of todos;let i =index;" style="display: flex; justify-content:space-around">
        <th scope="row" style="padding: 20px;">{{i+1}}</th>
        <td style="padding: 20px;">{{todo.name}}</td>
        <td style="color: red;padding: 20px;">X</td>
        
      </tr>
      
    </tbody>
  </table>
</div>